.conteudo-detalhe-imagem {
	width: 500px;
	height: 500px;
	border-radius: 20px;
	border: 3px;
}

.AtividadeDetalhe {
	display: flex;
	flex-wrap: wrap;
	gap: 40px; /* Espaço entre as colunas, ajuste conforme necessário */
}

.conteudo-detalhe-conteudo {
	flex: 3; /* Coluna principal ocupa mais espaço */
	min-width: 500px; /* Ajuste conforme necessário */
}

.conteudo-detalhe-informacoes {
	flex: 1; /* Coluna do menu ocupa menos espaço */
	min-width: 200px; /* Ajuste conforme necessário */
	max-width: 300px; /* Define um tamanho máximo para a coluna do menu */
}

.imagem-container {
	display: flex;
	justify-content: center; /* Centro horizontalmente */
	align-items: center; /* Centro verticalmente */
	width: 100%; /* Garantir que a div ocupa 100% da largura disponível */
}

@media (max-width: 1200px) {
	.AtividadeDetalhe {
		flex-direction: column;
	}
}
