.dropdown-content {
	position: absolute;
	background-color: var(--primary-white-color);
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius: 20px;
	right: 0%;
	top: 120%;
	z-index: var(--HEADER-DROPDOWN)
}

.dropdown-item {
	padding: 12px 16px;
}

.custom-hr {
	height: 2px;
	background-color: black;
	border: none;
}
