.rotulo {
	border-radius: 20px;
	background-color: var(--rotulo-background, var(--LIGHT-PRIMARY));
	display: inline-block;
	padding: 5px 10px;
	background-color: var(--rotulo-background, var(--LIGHT-PRIMARY));
	color: var(--rotulo-color, var(--TEXT-INVERSE));
}
