aside {
	align-items: end;
	background-color: var(--BLACK-LIGHT);
	position: fixed;
	height: 100vh;
	overflow: auto;
	padding-top: var(--HEADER_VH);
}

.sidebar-nav-items > * {
	margin-top: 20px; /* Espaço de 20px entre os itens */
	padding: 10px;
}

/* Remove a margem inferior do último item, se desejar */
.sidebar-nav-items > *:last-child {
	margin-top: 20px;
	margin-bottom: 20px;
}

.sidebar-label {
	font-size: 1.1rem !important;
}

.sidebar-icon {
	width: 2em;
	height: 2em;
}
