.image-size {
	width: 160px;
	height: 160px;
}

.mb-content-image {
	margin-bottom: 25px;
}

.details-right {
	display: flex;
	flex-direction: row; /* Ensures items stay in the same line */
	align-items: center;
	gap: 1rem; /* Adjust gap between elements */
	flex-wrap: nowrap; /* Prevent wrapping to the next line */
}

.conta-combo-box {
	flex-shrink: 1; /* Allow combobox to shrink if needed */
	max-width: 300px; /* Set a max-width to prevent overflow, adjust as needed */
	min-width: 200px !important; /* Ensure a minimum width */
	width: 100%; /* Allow it to take up available space */
	box-sizing: border-box;
}
