:root {
	/* Cores principais */
	--DARK-PRIMARY: #00396D;
	--LIGHT-PRIMARY: #6C90CD;
	--LIGHT-PRIMARY-TRANSPARENT: rgba(108, 144, 205, 0.3);
	--PRIMARY: #39639C;
	--ACCENT: #00B8E0;
	--BLACK: #212121;
	--BLACK-AUX: #181818;
	--WHITE: #FFFFFF;
	--DARKER-WHITE: #d5d5d5;

	/* Cores de texto */
	--TEXT-PRIMARY: #0F1419;
	--TEXT-SECONDARY: #536471;
	--TEXT-INVERSE: var(--WHITE);

	/* Cores de destaque */
	--DIVIDER: #BDBDBD;
	--BACKGROUND: #F0F0F0;
	--WHITE-HOVER-TRANSPARENT: rgba(213, 213, 213, 0.3);
	
	/* Cores de navegação*/
	--DANGER: rgb(140, 0, 0);
	--DANGER-TRANSPARENT: rgba(255, 0, 0, 0.8);
	--SUCCESS: rgba(0, 128, 0);
	--SUCCESS-TRANSPARENT: rgba(0, 128, 0, 0.8);
	--INFO: rgba(0, 0, 128);
	--INFO-TRANSPARENT: rgba(0, 0, 128, 0.8);
	--SCROLL-BAR: #555
}