@import url(color.css);
@import url(font.css);
@import url(scroll-bar.css);
@import url(text.css);

body, html {
	background-color: var(--BACKGROUND);
	margin: 0;
}

a {
	/* Temporario */
	text-decoration: none;
}

p {
	padding: 0;
	margin: 0;
}

textarea {
	resize: none;
}