
.remove-user-select { /* utilizador deixa de conseguir selecionar o texto */
	-webkit-user-select: none;
	/* Safari */
	-moz-user-select: none;
	/* Firefox */
	-ms-user-select: none;
	/* IE10+/Edge */
	user-select: none;
	/* Standard */
}

.perigo { /* pinta o elemento com a cor de perigo */
	color: var(--DANGER)
}

.remove-margin-padding {
	margin: 0 !important;
	padding: 0 !important;
}

.remove-bullet {
	list-style-type: none;
}

.icon-hover:hover {
	background-color: var(--WHITE-HOVER-TRANSPARENT);
	border-radius: 50px;
	cursor: pointer;
}

.icon {
	font-size: 2rem;
}