.denuncia-tabela {
	border-collapse: collapse;
	width: 100%;
}

.denuncia-tabela th,
.denuncia-tabela td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

.denuncia-tabela th {
	background-color: #f2f2f2;
}
