aside {
	align-items: end;
	background-color: var(--BLACK-LIGHT);
	position: fixed;
	height: 100vh;
	overflow: auto;
	padding-top: var(--HEADER_VH);
}

.drawer-nav-items > * {
	margin-top: 20px;
	padding: 10px;
}

.drawer-nav-items > *:last-child {
	margin-top: 20px;
	margin-bottom: 20px;
}

.drawer-item-label {
	font-size: 1.1rem !important;
	white-space: nowrap; /* Não quebra a linha */
	overflow: hidden; /* Oculta o texto que ultrapassa o contêiner */
	text-overflow: ellipsis; /* Adiciona reticências (...) */
}

.header-item:hover {
	background-color: var(--BLACK-HOVER);
	mix-blend-mode: lighten;
	border-radius: 10px;
}

.header-item {
	margin: 6px;
	height: 46px;
}

.drawer-item-icon {
	height: 27px;
	width: 27px;
	flex-shrink: 0;
}
