@import url("../../assets/styles/color.css");

.card-contacto {
	padding: 5px 0px 5px 10px;
	margin: 0px 0px 10px 0px;
}

.card-contacto:first-child {
	margin: 10px 0px 10px 0px;
}

.conversa-mensagem {
	background-color: var(--BACKGROUND);
	border-radius: 10px;
	padding: 10px;
}