:root {
	/* Cores principais */
	--DARK-PRIMARY: rgb(0, 57, 109);
	--LIGHT-PRIMARY: rgb(108, 144, 205);
	--LIGHT-PRIMARY-TRANSPARENT: rgba(108, 144, 205, 0.5);
	--PRIMARY: rgb(57, 99, 156);
	--SECONDARY: rgb(144, 144, 144);
	--LIGHT-SECONDARY: rgb(165, 165, 165);
	--LIGHT-SECONDARY-TRANSPARENT: rgba(165, 165, 165, 0.5);
	--ACCENT: rgb(0, 184, 224);
	--BLACK: rgb(33, 33, 33);
	--BLACK-LIGHT: rgb(34, 34, 34);
	--BLACK-AUX: rgb(24, 24, 24);
	--WHITE: rgb(255, 255, 255);
	--DARKER-WHITE: rgb(213, 213, 213);

	/* Cores de conteudo */
	--ICON-PRIMARY: var(--TEXT-PRIMARY);
	--ICON-SECONDARY: var(--SECONDARY);
	--ICON-INVERSE: var(--TEXT-INVERSE);
	--TEXT-PRIMARY: rgb(32, 33, 36);
	--TEXT-SECONDARY: var(--SECONDARY);
	--TEXT-INVERSE: var(--WHITE);
	--TEXT-DANGER: var(--DANGER);
	--TEXT-SUCCESS: var(--SUCCESS);
	--TEXT-INFO: var(--INFO);

	/* Cores de destaque */
	--DIVIDER: rgb(218, 220, 224);
	--BACKGROUND: rgb(245, 245, 245);
	--WHITE-HOVER: rgba(213, 213, 213, 0.3);
	--DARKER-WHITE-HOVER: rgba(113, 113, 113, 0.3);
	--BLACK-HOVER: rgb(66, 66, 66, 0.5);

	/* Cores de navegação*/
	--LIGHT-DANGER: rgb(180, 0, 0);
	--DANGER: rgb(150, 0, 0);
	--DANGER-TRANSPARENT: rgba(150, 0, 0, 0.5);
	--SUCCESS: rgb(0, 128, 0);
	--LIGHT-SUCCESS: rgb(0, 150, 0);
	--LIGHT-SUCCESS-TRANSPARENT: rgba(0, 150, 0, 0.5);
	--INFO: rgb(0, 0, 128);
	--INFO-TRANSPARENT: rgba(0, 0, 128, 0.5);
	--SCROLL-BAR: rgb(85, 85, 85);

	/* Overlays */
	--OVERLAY: rgba(0, 0, 0, 0.8);
	--TRANSPARENT: rgba(0, 0, 0, 0);
}

/* DARK MODE - Em Progresso...
@media (prefers-color-scheme: dark) {
	:root {
		--BACKGROUND: #333333;
		--TEXT-PRIMARY: #FFF;
	}
}*/
