:root {
	--POPUP: 8;
	--POPUP-BACKGROUND: var(--POPUP) -1;

	--HEADER-DROPDOWN: 6;
	--NOTIFICACAO: 11;

	--REGULAR-DROPDOWN: X;
	
	--CONFIRMACAO: 10;
	--CONFIRMACAO-BACKGROUND: var(--CONFIRMACAO) - 1;
}