.otp-container {
	background-color: inherit;
	display: "flex";
	justify-content: "center";
	align-items: "center";
	height: "60vh";
}

.otp-box {
	width: "500px";
	height: "400px";
	justify-content: "center";
	padding: "20px";
	border: "1px solid #ccc";
	border-radius: "5px";
	background-color: "#f9f9f9";
	text-align: "center";
}

.otp-heading {
	margin-bottom: "20px";
}

.otp-subheading {
	margin-bottom: "20px";
}

.otp-text {
	margin-top: "20px";
}

.otp-inputContainer {
	display: "flex";
	justify-content: "center";
	align-items: "center";
	margin-bottom: "20px";
}

.otp-input {
	width: "40px";
	height: "40px";
	font-size: "20px";
	text-align: "center";
	margin-right: "10px";
}

.otp-buttonContainer {
	display: "flex";
	justify-content: "space-between";
}

.otp-button {
	padding: "10px 20px";
	background-color: "#007bff";
	color: "#fff";
	border: "none";
	border-radius: "5px";
	cursor: "pointer";
}

.otp-image {
	width: "100px";
	margin-bottom: "10px";
}

.otp-email {
	font-weight: "bold";
}
